<div class="page-title">
    <h1>About</h1>
</div>

<section class="about-section">
<div class="center-me">
    <img src="images/DP.png" alt="my face" id="selfie">
</div>

<div>
    <p>My name is Noah Fainer. I believe that doing more is living more. It’s hard to say: am I a snowboarder, skateboarder, teacher, photographer or motion graphics artist? The answer to me is simply all the above. However, this is how I see myself. My online identity can be said to be different than my offline because my online identity exists as a result of the actions I take, while my offline identity is constantly being molded by my experiences and surroundings. Furthermore, this is because I curate my online profiles to express who I believe I am and what is most important to me. I have a goal in life and a career to pursue; I want to tell the world that this is who I am trying to be (just not as explicitly).</p>
</div>
</section>

<div class="page-title">
    <h1>Skills</h1>
</div>

<section id="skills-logos-section">
    <div class="skills-logo">
        <img src="images/afterEffects.png" alt="ae">
    </div>
    <div class="skills-logo">
        <img src="images/premierePro.png" alt="pr ">
    </div>
    <div class="skills-logo">
        <img src="images/lightroom.png" alt="lr">
    </div>
    <div class="skills-logo">
        <img src="images/photoshop.png" alt="ps">
    </div>
    <div class="skills-logo">
        <img src="images/illustrator.png" alt="ai">
    </div>
    <div class="skills-logo">
        <img src="images/cinema4d.png" alt="c4d">
    </div>

</section>