<div class="page-title">
    <h1>About</h1>
</div>

<section class="about-section">
<div class="center-me">
    <img src="images/DP.png" alt="my face" id="selfie">
</div>

<div>
    <p>Hey there! My name is Noah Fainer. I am a photographer, videographer and motion designer who specializes in marketing and advertising. I have a passion to create visuals for brands to help them tell their stories. 
    </p>
<br>
    <p>
        I got my post-secondary education at Western University in Media Information and Technoculture as well as Fanshawe College in Interactive Media Design. I’ve been a content creator for the past 4 years and have been working working as a freelancer, working for Western U HAS Marketing, Western TV, Western Gazette and Productions in the 6ix.
    </p>
<br>
    <p>
        I was the Director of Videography for the CAISA fashion show, the largest student run charity fashion show in Canada with our videos reaching collectively over 30,000 views helping raise over $350,000 for the Children Health Foundation and having an event attendance of over 1500 people each year. This work was entirely volunteer based.
    </p>
</div>
</section>

<div class="page-title">
    <h1>Skills</h1>
</div>

<section id="skills-logos-section">
    <div class="skills-logo">
        <img src="images/afterEffects.png" alt="ae">
    </div>
    <div class="skills-logo">
        <img src="images/premierePro.png" alt="pr ">
    </div>
    <div class="skills-logo">
        <img src="images/lightroom.png" alt="lr">
    </div>
    <div class="skills-logo">
        <img src="images/photoshop.png" alt="ps">
    </div>
    <div class="skills-logo">
        <img src="images/illustrator.png" alt="ai">
    </div>
    <div class="skills-logo">
        <img src="images/cinema4d.png" alt="c4d">
    </div>


</section>