

<div class="page-title">
    <h1>Contact</h1>
</div>

<div class="center-me">
    <object data="images/logo.svg" type="image/svg+xml" id="logo-contact"></object>
</div>

<section class="contact-form-section">

   <div class="center-me">
    <h2>noahfainer@hotmail.com</h2>
    
</div> 
<div class="center-me">
    <h2>647-200-0488</h2>
</div>
</section>





{{!-- <section class="contact-form-section">
    <form action="data/contact.php" method="post" id="form-section">
        <div class="form">
                <input type="text" name="company" placeholder="Name">
        </div>
        <div class="form">
            <input type="email" name="usermail" required placeholder="E-mail">
        </div>
        <div class="form">
            <textarea name="message" id="user-message" placeholder="Message"></textarea>
        </div>
        <div class="form">
            <input type="submit" value="Submit" class="submit-button">
        </div>
    </form>
</section> --}}

<script src="js/conact.js"></script>
