    <div class="page-title">
        <h1>Graphics Design</h1>
    </div>

    


<section class="gd-main-container">

        <div class="gd-img-wrap">
        <img src="images/cruise.jpg" alt="poster">
    </div>



        <div class="gd-img-wrap">
        <img src="images/esports.jpg" alt="poster">
    </div>

        <div class="gd-img-wrap">
        <img src="images/icecream.jpg" alt="poster">
    </div>

        <div class="gd-img-wrap">
        <img src="images/paintnight.jpg" alt="poster">
    </div>

        <div class="gd-img-wrap">
        <img src="images/streetball.jpg" alt="poster">

        </div>    
        
        
        <div class="gd-img-wrap">
        <img src="images/dj_skate_night.jpg" alt="poster">
    </div>

    <div class="gd-img-wrap">
        <img src="images/wallpaper.png" alt="poster">
    </div>

    <div class="gd-img-wrap">
        <img src="images/portal.jpg" alt="poster">
    </div>

    
    

</section>