 <section id="video-section">
    <div id="video">
        <p>video here</p>
    </div>
 </section>

 <section id="lets-work-together">
     <div class="center-me">
         <h1>Lets work together!</h1> 
     </div>

     <div class="center-pannels">
        <div class="pannels">
            <p class="pannel-icon">icon 1</p>
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <p class="pannel-button">button</p>
        </div>
        <div class="pannels">
            <p class="pannel-icon">icon 2</p>
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <p class="pannel-button">button</p>
        </div>
        <div class="pannels">
            <p class="pannel-icon">icon 3</p>
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <p class="pannel-button">button</p>
        </div>
     </div>
 </section>


 <section id="brand-ive-worked-with">
        <div class="center-me">
            <h1>Brands Ive Worked With</h1> 
        </div>

        <div id="brand-logo-section">
            <p class="brand-logo logo1-temporary">Logo 1</p>
            <p class="brand-logo">Logo 2</p>
            <p class="brand-logo">Logo 3</p>
            <p class="brand-logo">Logo 4</p>
            <p class="brand-logo">Logo 5</p>
            

        </div>


 </section>