 <section id="video-section">
    <div id="video">
        <video src="videos/demoReel.mp4" muted autoplay></video>
    </div>
 </section>

 <section id="lets-work-together">
     <div class="center-me">
         <h1>Lets work together!</h1> 
     </div>

     <div class="center-pannels">
        <div class="pannels">
            <img src="images/camera.png" alt="camera icon" class="pannel-icon">
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <a href="#" class="pannel-button">Photography ►</a>
        </div>
        <div class="pannels">
            <img src="images/video-camera.png" alt="video icon" class="pannel-icon">
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <a href="#" class="pannel-button">Videography ►</a>
        </div>
        <div class="pannels">
            <img src="images/web-startup.png" alt="graphics icon" class="pannel-icon">
            <p class="pannel-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus alias, debitis iusto impedit accusantium modi rerum delectus beatae earum.</p>
            <a href="#" class="pannel-button">Motion Graphics ►</a>
        </div>
     </div>
 </section>


 <section id="brand-ive-worked-with">
        <div class="center-me">
            <h1>Brands I've Worked With</h1> 
        </div>

        <div id="brand-logo-section">
            <div><img src="images/dreamCulture.png" alt="dream culture"></div>
            <div><img src="images/dreamsFestival.png" alt="dream culture"></div>
            <div><img src="images/hashtagHealth.png" alt="dream culture"></div>
            <div><img src="images/uwo.png" alt="dream culture"></div>
            <div><img src="images/lifetimesliving.png" alt="dream culture"></div>
            
    

        </div>


 </section>