<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <title>portfolio</title>
</head>
<body>


     <header> 

        <div id="hamburger-menu">
                 
                <input type="checkbox" id="toggle">
        
                <label for="toggle">
                    <div class="hamburger">
                        <div class="center"></div>
                    </div>
                </label>
        </div>

        <div id="social-links">
            <p>ig</p>
            <p>fb</p>
            <p>li</p>
        </div>



     <div id="logo-wrapper">


         <p class="box-helper">logo here</p>
     </div>

     <nav>
         <ul id="main-navigation">
             <li><a>Home</a></li>
             <li><a>Portfolio</a></li>
             <li><a>About</a></li>
             <li><a>Contact</a></li>
         </ul>
     </nav>  
 </header>

 {{{body}}}

  <footer>
     <div id="contact-footer">
        <p class="contact-info">contact info here</p>
        <p class="contact-info">and here</p>
     </div>

     <div id="copyright">
        <p>copyright</p>
     </div>
 </footer>
    <script src="js/main.js"></script>
</body>
</html>