<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'/>
    <link rel="stylesheet" href="https://use.typekit.net/qqu5gou.css">
    <title>Noah Fainer - Portfolio</title>
</head>
<body>


     <header> 

        <div id="hamburger-menu">
                 
                <input type="checkbox" id="toggle">
        
                <label id ="hamburger-label" for="toggle">
                    <div class="hamburger">
                        <div class="center"></div>
                    </div>
                </label>
        </div>

        <div id="social-links">
            <a href="https://www.facebook.com/nfainer/" target="_blank"><img src="images/facebook.png" alt="facebook link"></a>
             <a href="https://www.instagram.com/nfainer/" target="_blank"><img src="images/instagram.png" alt="instagram link"></a>
             <a href="https://www.linkedin.com/in/noah-fainer-811993163/" target="_blank"><img src="images/linkedin.png" alt="linkedin link"></a>
            
        </div>



     <div id="logo-wrapper">
         <a href="/"><img src="images/logo.png" id="logo"></a>
     </div>

     <nav class="hide-me fadeInDown">
         <ul id="main-navigation">
            <a href="/" class="nav-button"><li>Home</li></a>
            <a href="/portfolio" class="nav-button"><li>Portfolio</li></a>
            <a href="/about" class="nav-button"><li>About</li></a>
            <a href="/contact" class="nav-button"><li>Contact</li></a>
         </ul>
     </nav>  
 </header>
 <div class="separate"></div>

 {{{body}}}

  <footer>
     <div id="contact-footer">
        <div>
            <h1>Noah Fainer</h1>
            <p class="contact-info">Toronto, Canada</p>
        </div>
        <div>
            <h1>Contact Info</h1>
            <p class="contact-info">647 200 0488</p>
            <p class="contact-info">noah.fainer@gmail.com</p>
        </div>
     </div>

     <div id="copyright">
        <p>Noah Fainer All Right Reserved 2020 ®</p>
     </div>
 </footer>    
    <script src="js/main.js"></script>

</body>
</html>