    <div class="page-title">
        <h1>Portfolio</h1>
    </div>
    
    <section id="photography-section">


<a href="#" class="portfolio-pannel">
    <div>
        <p >Portraits</p>
        <img src="images/photography-portraits.png" alt="">
    </div>
</a>

<a href="#" class="portfolio-pannel">
    <div>
        <p>Concert</p>
        <img src="images/photography-concert.png" alt="">
    </div>
</a>

<a href="#" class="portfolio-pannel">
    <div>
        <p>Travel</p>
        <img src="images/photography-travel.png" alt="">
    </div>
</a>

    </section>
    
