

    <div class="page-title">
        <h1>Portfolio</h1>
    </div>

 <section id="portfolio-menu">


<a href="/photography" class="portfolio-pannel">
    <div >
        <p>Photography</p>
       <img src="images/portfolio-photography.png" alt="">
    </div>
</a>

<a href="/videography" class="portfolio-pannel">
    <div>
        <p >Videography</p>
        <img src="images/portfolio-videography.png" alt="">
    </div>
</a>

<a href="/graphicsDesign" class="portfolio-pannel">
    <div>
        <p >Graphics Design</p>
        <img src="images/portfolio-graphicsDesign.png" alt="">
    </div>
</a>

<a href="/mograph" class="portfolio-pannel">
    <div class="pannel-link-contianer">
        <p>Motion Graphics</p>
        <img src="images/portfolio-mograph.png" alt="">   
    </div>
</a>  
 </section>