    <div class="page-title">
        <h1>Portrait Photography</h1>
    </div>

    <div class="center-me">
        <img src="images/luminati_logo.png" alt="">
    </div>
    
    <section class="portraits-page-container">   
        <img src="images/luminati_6.png" alt="lights photo" class="portrait-img" value="1">     
        <img src="images/luminati_2.png" alt="lights photo" class="portrait-img" value="2">
        <img src="images/luminati_4.png" alt="lights photo" class="portrait-img" value="3">
        <img src="images/luminati_3.png" alt="lights photo" class="portrait-img" value="4">
        <img src="images/luminati_1.png" alt="lights photo" class="portrait-img" value="5">
        <img src="images/luminati_5.png" alt="lights photo" class="portrait-img" value="6">
    </section>

    <div class="center-me">
        <h1>Formal Portraits</h1>
    </div>


    <section class="portraits-page-container">
        <img src="images/formal_1.png" alt="lights photo" class="portrait-img" value="7">
        <img src="images/formal_2.png" alt="lights photo" class="portrait-img" value="8">
        <img src="images/formal_4.png" alt="lights photo" class="portrait-img" value="9">
        <img src="images/formal_5.png" alt="lights photo" class="portrait-img" value="10">
        <img src="images/formal_3.png" alt="lights photo" class="portrait-img" value="11">
    </section>

 

  