

    <div class="page-title">
        <h1>Portfolio</h1>
    </div>

 <section id="portfolio-menu">



    <div class="portfolio-pannel">
        <img src="images/portfolio-photography.png" alt="">
        <a href="#">Photography</a>
    </div>

    <div class="portfolio-pannel">
        <img src="images/portfolio-videography.png" alt="">
        <a href="#">Videography</a>
    </div>

    <div class="portfolio-pannel">
        <img src="images/portfolio-graphicsDesign.png" alt="">
        <a href="#">Graphics Design</a>
    </div>

    <div class="portfolio-pannel">
        <img src="images/portfolio-mograph.png" alt="">
        <a href="#">Motion Graphics</a>
    </div>

 </section>