    <div class="page-title">
        <h1>Videography</h1>
    </div>


<section class="video-body">


<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378863589" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
 </section>

 <section class="video-description">

     <h1>WesternU Soph Video</h1>

     <p>Every year at the beginning of September Western University hosts their annual Frosh Week to welcome thousands of new students to Western. I produced this video for Western U Housing and Ancillary Services to promote and recruit residence sophs. A soph at Western is an upper-year student who dedicates their time to welcoming and assisting new student with anything they might need.</p>

 </section>

<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378858546" width="1280" height="665" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
 </section>

 <section class="video-description">

     <h1>DJ Alvaro: Bassline Bar Event Recap</h1>

     <p>I shot and edited this video for a local Toronto DJ who goes by the name DJ Alvaro. He contacted me through my Instagram account asking if I could help him to make a recap video for this even which he organized.</p>

 </section>



<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378859346" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
 </section>

 <section class="video-description">

     <h1>Dream Culture Launch Video</h1>

     <p>Dream Culture is a Deep House record label based in Toronto, Canada. The owner of the label contacted me asking if I could help produce a recap video for the event and to promote future events. This video challenged me creatively as the record label owner had asked me to create something abstract and artistic with the footage from the night club. Here I experimented with blend modes, overlays, masking, and light leaks to create a "dreamy" look and feel to the video.</p>

 </section>

 <section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378860518" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
 </section>

 <section class="video-description">

     <h1>Hashtag Health Ad</h1>

     <p>Hashtag Health is a podcast that reached out to me asking for a promotional video. They gave me their stock footage account to use to create the video. I used a combination of stock footage plus some custom effects I made in Adobe After Effects to create interesting visuals. In addition, I used clips from the podcast's audio files to create a mashup for the promo video.</p>

 </section>


  <section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378862533" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
 </section>

 <section class="video-description">

     <h1>CAISA Fashion Show Launch Video 2020</h1>

     <p>The CAISA Fashion Show is the largest student-run charity fashion show in Canada. I am the director of videography for the show and I was given the task to produce the annual launch video. The purpose of the video is not only to promote the show but also to reveal the theme of the show for that year. The theme for this video is "through the decades".</p>

 </section>





</section>

