    <div class="page-title">
        <h1>Videography</h1>
    </div>

<div class="video-wrapper">

<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/408953304" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>


    </div>
 </section>

  <section class="video-description">

     <h1>Luminati Michael Crispel Interview</h1>

 </section>
</div>

<div class="video-wrapper">

<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/408951996" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>



    </div>
 </section>
   <section class="video-description">

     <h1>Luminati Presents: Tina Karchava</h1>

 </section>
</div>

<div class="video-wrapper">

<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/408954040" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>




    </div>
 </section>

   <section class="video-description">

     <h1>Luminati Presents: Debbie Eng</h1>

 </section>
</div>


<div class="video-wrapper">
<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378863589" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
 </section>

 <section class="video-description">

     <h1>Western University's Soph Sneak Peak Rally Promo</h1>

     <p>Every year at the beginning of September Western University hosts their annual Frosh Week to welcome thousands of new students to Western. I worked on this video for Western U Housing and Ancillary Services to promote and recruit residence Sophs. A Soph at Western is an upper-year student who dedicates their time to welcoming and assisting new student with anything they might need.
</p>

 </section>
</div>

<div class="video-wrapper">


<section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/378858546" width="1280" height="665" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
 </section>

 <section class="video-description">

     <h1>Electric Bounce Event Recap</h1>

     <p>This video was made for DJ Alvaro, a local Toronto DJ, who organized the event as well as performed during the event. He contacted me over Instagram and asked if I co could produce a video recap for the event. I shot and edited this video, which was used to promote DJ Alvaro, Electric Bounce, and Sub Label on Instagram.
    </p>

 </section>
</div>



<div class="video-wrapper">
 <section class="video-section">
    <div class="video-player">
        <iframe src="https://player.vimeo.com/video/389801846" width="1280" height="655" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    </div>
 </section>

 <section class="video-description">

     <h1>Purple Fest Recap 2019</h1>

     <p>Purple Fest is a music festival hosted by Western University every year during the university's homecoming event. The attendance for 2019 was approximately 5,000 people and bringing in artists such as A Boogie Wit Da Hoodie, Murda Beatz, Lil Uzi Vert, Juice WRLD, Loud Luxury, Tyga and many more. I was given a media pass by Western TV to take photos and video of the event. This video is a recap I made for Western TV which got over 3000 views across Facebook and  YouTube.

    </p>

 </section>
</div>






</section>

